<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/fmirus/nst_omni_sort">Neuromorphic
        Sensorimotor Adaptation for Robotic Mobile Manipulation: From Sensing to Behaviour</a></strong>
        <p>
          This project was done in collaboration between <a href="https://www.nst.ei.tum.de/en/home/"> NST</a> and
          the <a href="http://compneuro.uwaterloo.ca/"> Computational Neuroscience Research Group (CNRG)</a>, University of Waterloo.
          We use the neural simulator <a href="http://www.nengo.ca/"> Nengo</a> to implement a pick-and-place task for a
          <a href="https://www.nst.ei.tum.de/forschung/neuromorphic-systems/#c1004mobile"> mobile robot manipulator </a>
          in spiking neural networks.
          This work is currently submitted for publication and under review.
          The source code is available at Github.
        </p>
    </h5>
    <h6>
      <p>
        Abstract: We propose a neuromorphic approach to perception, reasoning and motor control
        using Spiking Neural Networks in mobile robotics. We demonstrate this by
        using a mobile robotic manipulator solving a pick-and-place task. All sensory
        data is provided by spike-based silicon retina cameras - eDVS (embedded Dynamic
        Vision Sensor) - and all reasoning and motor control is implemented in
        Spiking Neural Networks. For the given scenario, the robot is capable of detecting
        a sequence of objects blinking at different frequencies, finding one object
        that is not in the right place of the sequence, picking up this object and moving
        it to its correct position. Such a scenario demonstrates how to build large-
        scale networks solving a high-level cognitive task by combining several smaller
        networks responsible for low-level tasks. Importantly, here we focus only on
        generating a neural network that is capable of performing the task. This will
        be the basis of future work using neural network learning algorithms to improve
        task performance. The long-term goal is to learn sophisticated behaviours by
        experience while at the same time being able to introduce expert knowledge for
        intermediate tasks that can be used to initialize the network or to speed up the
        learning process.
      </p>
    </h6>
    <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/fmirus/torcs_ros">ROS interface for The Open Race Car Simulator (TORCS)</a></strong>
      <p>
			A <a href="http://www.ros.org/"> ROS </a> implementation of the client and driver from the <a href="https://sourceforge.net/projects/cig/files/SCR%20Championship/Client%20C%2B%2B/"> TORCS SCR C++ client</a>.
      </p>
		</h5>

    <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/fmirus/torcs-1.3.7">Patched version of The Open Race Car Simulator (TORCS)</a></strong>
      <p>
      Version of <a href="http://torcs.sourceforge.net/"> TORCS </a> 1.3.7 with <a href="https://github.com/barisdemirdelen/scr-torcs-1.3.7"> SCR patch </a> and an additional patch to send the current game image to another application via shared memory.
      </p>
		</h5>


    </div>
  </div>
</div>
</section>
